<!-- src/views/categories.ejs -->
 <%- include('partials/header') %>
    <main>
      <%= title %>
        <h1>Service Project Categories</h1>
        <ul>
            <% categories.forEach(category => { %>
                <li><%= category.category_name %></li>
            <% }); %>
        </ul>
    </main>
</body>
</html>
<%- include('partials/footer') %>